name: Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: [ '8.4', '8.5' ]
        dependencies: [ 'locked', 'latest', 'lowest' ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Validate composer.json and composer.lock
        run: composer validate --strict -n

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist --no-suggest --no-scripts

      - name: Composer Dependency Analysis
        run: composer cda

      - name: CS Check
        run: composer cs-check

      - name: PHPStan
        run: composer phpstan
